.Comp__pg{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.res {
    font-size:60px;
    margin-top:2%;
    color:white;
    font-family:"montserrat";
    font-weight: 1000;
    text-align: center;
}
.res__hold{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.win__hold{
    margin-top:2%;
    width: 60%;
    height: 13vh;
    margin-left:20%;
    margin-right:20%;
    background-color: black;
    border-radius: 30px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.win__hold img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.win__hold p{
    width: 70%;
    margin-left: 6%;
    color: white;
    font-size:18px;
    font-family:"montserrat"
}
.Comp__holder {
    margin-top:3%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.usr__1, .usr__2{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border-radius: 30px;
    height:60vh;
}
.usr__2{
    margin-left: 3%;

}
.usr__1{
    margin-right: 3%;
}
.usr__2 img{
    margin-top:4%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.usr__1 img{
    margin-top:4%;
    height: 80px;
    width: 80px;
    border-radius: 50%;

}
.usr__1 h1, .usr__2 h1{
    font-size: 15px;
    color: white;
    text-align: center;
    font-family:"montserrat"
}
.usr__1 meter , .usr__2 meter{
    width: 80%;
    height: 10%;

}
.winners {
    margin-left:7% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border-radius: 30px;
    width:20%;
    height:60vh;
}
.winners img{
    margin-top: 5%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.top__ele{
    margin-top: 2%;
}
.win__head{
    margin-top: 20px;
}
.winners  h1{
    font-size:15px;
    color: white;
    font-family: "montserrat";
}
.winners .win__head{
    font-size:25px;
}